<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{>header}}
    {{>navbar}}
    <div class="intro">
    <div class="name">
        <h1>Ajay Rajendra Navgire</h1>
    </div>
    <div class="info">
          <h2> Hi i am Ajay from WCE, Sangli.</h2>
    </div>
</div>
 {{>footer}}
</body>
</html>